# Aplicação
SECRET_KEY=sua_chave_secreta_aqui
FLASK_ENV=dev

# Banco de dados
DATABASE_URL=mysql+pymysql://user:password@db:3306/taskdb
MYSQL_ROOT_PASSWORD=rootpassword
MYSQL_DATABASE=taskdb
MYSQL_USER=user
MYSQL_PASSWORD=password